<section class="section baner">
  <div class="container">
    <h1 class="baner__title"><em>стираем границы</em> между вами
      и свободой жить в любой точке мира
    </h1>
    <p class="baner__text">С нами вы получите ВНЖ в любой стране. <br>
      Без стресса и с сопровождением на всех этапах.</p>

    <div class="baner__btnblock">
      <a href="#" class="btn btn--image btn--large">
        Узнать больше
        <div class="btn__image ">
          <img src="./images/teleg-blue.svg" alt="telega">
        </div>
      </a>
    </div>

    <div class="slider1"></div>
  </div>
</section>