<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<a href="/" class="footer__logo">
				<img src="./images/logo.svg" alt="Movly Logo" class="footer__logo-image" />
			</a>

			<nav class="footer__nav" role="navigation" aria-label="Навигация подвала">
				<a href="/" class="footer__link footer__link--active">О нас</a>
				<a href="/es.html" class="footer__link">Европа</a>
				<a href="/us.html" class="footer__link">США</a>

			</nav>
		</div>
		<div class="footer__inner">
			<div class="footer__line">
				<div class="footer__left">
					<a href="#" class="footer__policy">Политика Конфиденциальности</a>
				</div>
				<div class="footer__right">
					<nav class="socials">
						<a href="https://t.me/movly_me" target="_blank" title="Telegram">
							<span class="socials__item socials__item--tg"></span>
						</a>
						<a href="https://www.youtube.com/@Movly_me/videos" target="_blank" title="Youtube">
							<span class="socials__item socials__item--yt"></span>
						</a>
					</nav>
				</div>
			</div>
			<div class="footer__line footer__line--copyright">
				<div class="footer__left">
					<p class="footer__copyright">
						MOVLY 2020-2025 ALL RIGHTS RESERVED
					</p>
				</div>
				<div class="footer__right">
					<div class="footer__legal">
						<p class="footer__legal-text">
							УСЛУГИ ОКАЗЫВАЮТСЯ ИП ФАМИЛИЯ ИМЯ ОТЧЕСТВО
						</p>
						<p class="footer__legal-text">ИНН 00000000</p>
						<p class="footer__legal-text">ОГРН 00000000</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>