<section id="feedback" class="section form-section">
  <div class="container">


    <div class="form-section__inner">
      <div class="form-section__left">
        <h2 class="section__subhead form-section__title">
          Вы можете доверить нам <br>
          получение ВНЖ для вас!
        </h2>
        <form class="form" action="#" method="POST">



          <div class="form__group">
            <input class="form__input" type="text" id="name" name="name" placeholder="Введите ваше имя" required />
          </div>

          <div class="form__group">
            <label class="form-radio">
              <input class="form-radio__check" value="telegram" type="radio" name="contact-type" checked />
              <span class="form-radio__icon"></span>

              <span class="form-radio__title">Телеграм</span>
            </label>

            <div class="form__input-wrapper">
              <span class="form__input-prefix">@</span>
              <input class="form__input form__input--with-prefix" type="text" id="telegram" name="telegram"
                placeholder="yourprofile" disabled />
            </div>
          </div>

          <div class="form__group">
            <label class="form-radio">
              <input class="form-radio__check" value="phone" type="radio" name="contact-type" checked />
              <span class="form-radio__icon"></span>

              <span class="form-radio__title">Телефон</span>
            </label>

            <input class="form__input" type="tel" id="phone" name="phone" placeholder="+7 000 000 00 00" disabled />
          </div>

          <div class="form__group form__group--checkbox">
            <label class="form__checkbox">
              <input class="form__checkbox-input" type="checkbox" name="agreement" required />
              <span class="form__checkbox-custom"></span>
              <span class="form__checkbox-text">
                Я согласен с условиями <a href="http://movly.me/privacy" target="_blank" class="form__link">Политики
                  Конфиденциальности</a>
              </span>
            </label>
          </div>

          <button class="form__submit btn btn--primary" type="submit" disabled>
            ОТПРАВИТЬ
          </button>
        </form>

        <div class="modal" id="formSuccessModal" aria-hidden="true">
          <div class="modal__overlay" data-modal-close></div>
          <div class="modal__content" role="dialog" aria-modal="true" aria-labelledby="formSuccessTitle">
            <button class="modal__close" type="button" data-modal-close aria-label="Закрыть"></button>
            <h2 class="modal__title" id="formSuccessTitle">Заявка отправлена</h2>
            <p class="modal__text">Спасибо! Мы получили вашу заявку и свяжемся с вами в ближайшее время.</p>
          </div>
        </div>
      </div>
      <div class="form-section__right">
        <img src="./images/feedback-2x.webp" class="form-section__img" alt="Feedback" lazyload>
      </div>
    </div>
  </div>
</section>