<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="/" class="header__logo">
        <img src="./images/logo.svg" alt="Movly Logo" class="header__logo-image" />
      </a>

      <button class="header__burger" aria-label="Меню" aria-expanded="false"></button>

      <div class="header__right">
        <nav class="header__nav" role="navigation" aria-label="Главное меню">
          <a href="#benefits" class="header__link header__link--active">О нас</a>
          <a href="#audience" class="header__link">Европа</a>
          <a href="#steps" class="header__link">США</a>

        </nav>

        <a href="#feedback" title="Записаться на Консультацию " class="header-btn-normal">
          <div class="header-btn-normal__content">Записаться на Консультацию </div>
          <div class="header-btn-normal__image" aria="icon"></div>
        </a>
      </div>

      <a href="#feedback" title="Записаться на Консультацию " class="header-btn header-btn--desktop">
        <div class="header-btn__content">Записаться на Консультацию </div>
        <div class="header-btn__image" aria="icon"></div>
      </a>
    </div>
  </div>
</header>