<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>Starter</title>
  @@include("./template/head.html")
</head>

<body>
  @@include("./template/header.html")

  <main>

    <section class="hero">
      <div class="container hero__inner">
        <div class="hero__content">
          <h1 class="hero__title">
            ВНЖ в Европе<br />
            от 3 месяцев<br />
            и 2500&nbsp;€
          </h1>

          <p class="hero__desc">
            Сопровождение на всех этапах, помощь предпринимателям и стартапам.
          </p>

          <a href="#feedback" class="btn btn--image btn--large">
            Записаться на Консультацию
            <div class="btn__image ">
              <img src="./images/teleg-blue.svg" isHomePage alt="telega">
            </div>
          </a>

        </div>

        <div class="hero__features">
          <div class="hero__left">
            <div class="hero__feature--image">
              <img src="./images/hero1.webp" alt="">
            </div>
            <div class="hero__feature">
              <span class="hero__feature-icon hero__feature-icon--shop"></span>
              <span class="hero__feature-text">
                <b>Делаем всё под ключ</b><br />для вас, вашей семьи<br />и сотрудников.
              </span>
            </div>
          </div>

          <div class="hero__right">
            <div class="hero__feature">
              <span class="hero__feature-icon hero__feature-icon--check"></span>

              <span class="hero__feature-text">
                <b>Гарантия получения ВНЖ</b><br />или 100% возврат стоимости услуг.
              </span>
            </div>
            <div class="hero__feature--image">
              <img src="./images/hero2.webp" alt="">
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="consultation" class="consultation consultation--reverse">
      <div class="container consultation__inner">
        <div class="consultation__content">
          <h2 class="consultation__title">
            Запишитесь на бесплатную консультацию
          </h2>
          <p class="consultation__desc">
            Mы поможем оценить ваши шансы получения ВНЖ в странах ЕС!
          </p>
          <a href="#feedback" class="btn btn--image">
            Проконсультироваться
            <span class="btn__image ">
              <img src="./images/teleg-blue.svg" alt="telega">
            </span>
          </a>
        </div>
        <div class="consultation__image">
          <img class="consultation__image-img" src="./images/consultation-image.webp" alt="Консультация Movly" lazyload>
        </div>
      </div>
    </section>

    <section class="section about about--es" id="about">
      <div class="container about__container">
        <div class="about__grid">

          <div class="about__card about__card--intro">
            <h2 class="about__title">
              Больше 300 человек получили ВНЖ с MOLVY за последние 2 года
            </h2>
            <p class="about__text">
              Мы сопровождаем клиентов на пути к получению ВНЖ в любых странах Европы. Наша сила — в экспертизе,
              прозрачности и персональном подходе. С нами вы не просто оформите документы, а откроете новую главу
              в жизни.
            </p>
          </div>

          <div class="about__card about__card--stat">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f1.svg" alt="" width="40" height="40">
            </div>
            <p class="about__stat">
              <b>Команда из более чем 40 специалистов</b> во Франции, Нидерландах, Италии и не только. Работаем со всеми
              странами Евросоюза и Великобритании.
            </p>
          </div>

          <div class="about__card about__card--experts">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f2.svg" alt="" width="40" height="40">
            </div>
            <p class="about__text">
              <b>Закрываем под ключ всё:</b> от подачи документов до написания бизнес-планов для ВНЖ предпринимателя.
            </p>
          </div>

          <div class="about__card about__card--team">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f3.svg" alt="" width="40" height="40">
            </div>
            <p class="about__text">
              Помогаем стартапам в нашем <b>бизнес-акселераторе в Нидерландах.</b>
            </p>
          </div>

          <div class="about__card about__card--relations">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f4.svg" alt="" width="40" height="40">
            </div>
            <p class="about__text">
              <b>Знаем, на что смотрят сотрудники европейских госорганов</b> при одобрении ВНЖ и какие требования
              предъявляют
              к заявителям.
            </p>
          </div>

          <div class="about__card">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f5.svg" alt="" width="40" height="40">
            </div>
            <p class="about__text">
              <b>Мы даем 100% гарантию, что вам одобрят ВНЖ,</b> ведь наши клиенты стабильно получают одобрения
              с очень
              высокой вероятностью.
            </p>
          </div>

          <div class="about__card about__card--bg">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f6.svg" alt="" width="40" height="40">
            </div>
            <p class="about__text">
              Если мы взялись за ваш кейс — <b>у вас будет ВНЖ.</b> Или мы вернем вам деньги.
            </p>
          </div>

        </div>
      </div>
    </section>

    <section class="benefits">
      <div class="container benefits__container">
        <h2 class="section__subhead benefits__title">
          Что вы получите после переезда в Европу
        </h2>

        <div class="benefits__grid">
          <article class="benefit-card">
            <div class="benefit-card__image">
              <img src="./images/benf1.webp" alt="Жизнь в Европе" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Жизнь в Европе

            </h3>
            <p class="benefit-card__desc">
              Свободное перемещение
              по Европе и жизнь в развитой стране.
            </p>
          </article>

          <article class="benefit-card benefit-card--reverse">
            <div class="benefit-card__image">
              <img src="./images/benf2.webp" alt="Банковский счет" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Банковский счет
            </h3>
            <p class="benefit-card__desc">
              В любом европейском
              банке и доступ к фондовому рынку.
            </p>
          </article>

          <article class="benefit-card">
            <div class="benefit-card__image">
              <img src="./images/benf3.webp" alt="Медицина и образование" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Медицина и образование
            </h3>
            <p class="benefit-card__desc">
              Вы сможете пользоваться
              социальной сферой на уровне граждан страны.
            </p>
          </article>

          <article class="benefit-card">
            <div class="benefit-card__image">
              <img src="./images/benf4.webp" alt="Гражданство и бизнес" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Гражданство
            </h3>
            <p class="benefit-card__desc">
              В среднем через 5 лет вы сможете подать на гражданство.
            </p>
          </article>

          <article class="benefit-card benefit-card--reverse">
            <div class="benefit-card__image">
              <img src="./images/benf5.webp" alt="Качество жизни" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Качество жизни
            </h3>
            <p class="benefit-card__desc">
              Жизнь в стабильной безопасной экономике и благоприятной среде.
            </p>
          </article>

          <article class="benefit-card">
            <div class="benefit-card__image">
              <img src="./images/benf6.webp" alt="Бизнес по всему миру" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Бизнес по всему миру
            </h3>
            <p class="benefit-card__desc">
              Вы сможете вести бизнес без санкций и работать с любыми странами.
            </p>
          </article>
        </div>
      </div>
    </section>

    <section id="clients" class="clients clients--es">
      <div class="container">
        <h2 class="clients__title">
          В каком статусе проще всего получить ВНЖ
        </h2>

        <div class="clients__grid">
          <article class="client-card">
            <h3 class="client-card__title">Стартап</h3>
            <div class="client-card__image-inner">
              <img class="client-card__image" src="./images/st1.webp" alt="Стартап" width="250" height="264">
            </div>
            <p class="client-card__desc">
              Если у вас действующий стартап или разработка на уровне идеи — оформим все документы, поможем получить ВНЖ
              для фаундера, команды и семей.
            </p>
          </article>

          <article class="client-card">
            <h3 class="client-card__title">Бизнес</h3>
            <div class="client-card__image-inner">
              <img class="client-card__image" src="./images/st2.webp" alt="Бизнес" width="250" height="264">
            </div>
            <p class="client-card__desc">
              Если у вас действующий бизнес, который планируете вести в ЕС, или идея для бизнес-проекта — получим ВНЖ
              для вас, сотрудников и семей.
            </p>
          </article>

          <article class="client-card">
            <h3 class="client-card__title">Кочевник</h3>
            <div class="client-card__image-inner">
              <img class="client-card__image" src="./images/st3.webp" alt="Кочевник" width="250" height="264">

            </div>
            <p class="client-card__desc">
              Если вы получаете доход в РФ или другой стране и не планируете работать и вести бизнес в ЕС — оформим
              документы на ВНЖ кочевника для вас и членов семьи.
            </p>
          </article>

          <article class="client-card">
            <h3 class="client-card__title">Талант</h3>
            <div class="client-card__image-inner">
              <img class="client-card__image" src="./images/st4.webp" alt="Талант" width="250" height="264">

            </div>
            <p class="client-card__desc">
              Если вы IT-специалист, ученый, деятель культуры или имеете другие значимые регалии — поможем получить ВНЖ
              таланта для вас и членов семьи.
            </p>
          </article>

          <article class="client-inner">
            <a href="#feedback" class="client-link">Узнать подробнее о возможностях</a>
          </article>
        </div>
      </div>
    </section>

    <section id="consultation" class="consultation consultation--reverse consultation--es">
      <div class="container consultation__inner">
        <div class="consultation__content">
          <h2 class="consultation__title">
            А можно не подходить ни под одну программу И ПОЛУЧИТЬ внж?
          </h2>
          <p class="consultation__desc">
            При бюджете от 10 000&nbsp;€ можно не подходить ни под одну программу — мы просто сделаем так, что вы
            получите
            ВНЖ!
          </p>
          <a href="#feedback" class="btn btn--image">
            Записаться на Консультацию
            <span class="btn__image ">
              <img src="./images/teleg-blue.svg" alt="telega">
            </span>
          </a>
        </div>
        <div class="consultation__image">
          <img class="consultation__image-img" src="./images/const-es.webp" alt="Консультация Movly" lazyload>
        </div>
      </div>
    </section>

    <section id="steps" class="section steps steps--es">
      <div class="container">
        <h2 class="section__subhead steps__title">
          Этапы получения ВНЖ и порядок оплаты
        </h2>

        <small class="steps__small">
          При сотрудничестве с MOLVY большую часть стоимости услуг вы оплачиваете,
          когда уже на 100% уверены в получении ВНЖ. Весь процесс в среднем занимает 3 – 6 месяцев.
        </small>

        <div class="steps__grid">
          <article class="step-card">
            <span class="step-card__number">Шаг 01</span>
            <div class="step-card__inner">
              <h3 class="step-card__title">
                <img src="./images/step1.svg" width="32" height="32" alt="" class="step-card__image">
                Выбор программы
              </h3>
              <p class="step-card__desc">
                В ходе первого звонка или в переписке вы расскажете о себе, цель получения ВНЖ и желаемую страну для
                переезда. Мы оценим возможность получения ВНЖ в нужной стране и предложим программы, по которым шансы
                одобрения для вас будут максимальными. Вы сразу узнаете точную стоимость получения ВНЖ для вас, и она
                не изменится. Стоимость зависит от выбранной страны и программы.
              </p>
            </div>
          </article>

          <article class="step-card">
            <span class="step-card__number">Шаг 02</span>
            <div class="step-card__inner">
              <h3 class="step-card__title">
                <img src="./images/step2.svg" width="32" height="32" alt="" class="step-card__image">
                Заключение договора
              </h3>
              <p class="step-card__desc">
                Заключаем официальный договор, в котором прописываем
                точную стоимость, список услуг и все гарантии. Можем работать с юридическими и физическими лицами. После
                заключения договора происходит оплата аванса — 30-50% от стоимости.
              </p>
            </div>
          </article>

          <article class="step-card">
            <span class="step-card__number">Шаг 03</span>
            <div class="step-card__inner">
              <h3 class="step-card__title">
                <img src="./images/step3.svg" width="32" height="32" alt="" class="step-card__image">
                Подготовка документов
              </h3>
              <p class="step-card__desc">
                Мы занимаемся подготовкой всех документов, писем и сопроводительных бумаг. При необходимости наши
                финансовые консультанты составят вам бизнес-план для получения ВНЖ предпринимателя или стартапа. Во всех
                случаях, где это возможно, ведем переписку с госорганами от вашего имени. Или подробно консультируем
                вас, как ответить.
              </p>
            </div>
          </article>

          <article class="step-card">
            <span class="step-card__number">Шаг 04</span>
            <div class="step-card__inner">
              <h3 class="step-card__title">
                <img src="./images/step4.svg" width="32" height="32" alt="" class="step-card__image">
                Одобрение проекта
              </h3>
              <p class="step-card__desc">
                Вы получаете одобрение и въезжаете в страну, чтобы в скором времени получить карты ВНЖ на руки.
                Одобрение означает, что вы 100% получите ВНЖ. На этом этапе вносится второй платеж за наши услуги.
              </p>
            </div>
          </article>

          <article class="step-card step-card--color">
            <span class="step-card__number">Шаг 05</span>
            <div class="step-card__inner">
              <h3 class="step-card__title">
                <img src="./images/step5.svg" width="32" height="32" alt="" class="step-card__image">
                Вы получаете ВНЖ
              </h3>
              <p class="step-card__desc">
                Мы готовим для вас финальный пакет документов, объясняем, где и как сдать биометрию, что взять с собой,
                самостоятельно записываем вас во все госорганы и объясняем алгоритм действий на месте. Вы получаете ВНЖ
                и вносите последний платеж за наши услуги.
              </p>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section id="reserch" class="consultation consultation--es consultation--reverse">
      <div class="container consultation__inner">
        <div class="consultation__content">
          <h2 class="consultation__title">
            Поможем начать и пройдем этот пусть вместе с вами!
          </h2>
          <p class="consultation__desc">
            Мы с вами всегда на связи: консультируем, готовим и подаем документы, общаемся с государственными органами
            и делаем всё, чтобы вы скорее получили ВНЖ в нужной вам стране!
          </p>
          <a href="#feedback" class="btn btn--image">
            Записаться на Консультацию
            <span class="btn__image ">
              <img src="./images/teleg-blue.svg" alt="telega">
            </span>
          </a>
        </div>
        <div class="consultation__image">
          <img class="consultation__image-img" src="./images/const.webp" alt="Консультация Movly" lazyload>
        </div>
      </div>
    </section>

    <section id="about-socials" class="section about about--talk">
      <div class="container about__container">
        <div class="about__grid">

          <div class="about__card about__card--intro">
            <h2 class="about__title">
              Мы много снимаем и рассказываем
              о получении ВНЖ в ЕС
            </h2>
            <p class="about__text">
              Нашей экспертизе <b>доверяют тысячи подписчиков</b> на разных площадках!
            </p>
          </div>

          <div class="about__card about__card--picture">
            <a href="https://t.me/movly_me" target="_blank" class="about__link">
              <picture class="about__picture">
                <source media="(max-width: 767px)" srcset="./images/talk1-mob.webp">
                <img src="./images/talk1.webp" alt="Блог в Telegram">
              </picture>
            </a>
          </div>

          <div class="about__card about__card--picture">
            <a href="https://vc.ru/id1823995" target="_blank" class="about__link">
              <picture class="about__picture">
                <source media="(max-width: 767px)" srcset="./images/talk2-mob.webp">
                <img src="./images/talk2.webp" alt="Блог в vc.ru">
              </picture>
            </a>
          </div>

          <div class="about__card about__card--picture">
            <a href="https://www.youtube.com/@Movly_me/videos" target="_blank" class="about__link">
              <picture class="about__picture">
                <source media="(max-width: 767px)" srcset="./images/talk3-mob.webp">
                <img src="./images/talk3.webp" alt="Блог в YouTube">
              </picture>
            </a>
          </div>

        </div>
      </div>
    </section>


    <section id="review" class="review">
      <div class="container">
        <h2 class="section__subhead steps__title">
          Эти отзывы оставили клиенты, которые уже получили ВНЖ с нами
        </h2>

        <div class="review__grid">
          <div class="review__card">
            <div class="review__header">
              <div class="profile">
                <div class="profile__picture">
                  <img src="./images/ava1.webp" width="64" height="64" alt="" class="profile__ava">
                </div>
                <div class="profile__content">
                  <div class="profile__line">
                    <h3 class="profile__name">Сергей Петров</h3>
                    <span class="profile__age">38 лет</span>
                  </div>
                  <span class="profile__role">Инвестор</span>
                </div>
              </div>
            </div>
            <blockquote class="review__quote">
              Я хочу поделиться своим опытом работы с этой компанией по вопросам релокации. Благодаря их
              профессионализму
              и поддержке, я успешно зарегистрировал свой бизнес за границей и получил вид на жительство через
              инвестиции.
              Их услуги оказались незаменимыми для выхода на международный рынок.
            </blockquote>
          </div>
          <div class="review__card">
            <div class="review__header">
              <div class="profile">
                <div class="profile__picture">
                  <img src="./images/ava1.webp" width="64" height="64" alt="" class="profile__ava">
                </div>
                <div class="profile__content">
                  <div class="profile__line">
                    <h3 class="profile__name">Сергей Петров</h3>
                    <span class="profile__age">38 лет</span>
                  </div>
                  <span class="profile__role">Инвестор</span>
                </div>
              </div>
            </div>
            <blockquote class="review__quote">
              Я хочу поделиться своим опытом работы с этой компанией по вопросам релокации. Благодаря их
              профессионализму
              и поддержке, я успешно зарегистрировал свой бизнес за границей и получил вид на жительство через
              инвестиции.
              Их услуги оказались незаменимыми для выхода на международный рынок.
            </blockquote>
          </div>
          <div class="review__card">
            <div class="review__header">
              <div class="profile">
                <div class="profile__picture">
                  <img src="./images/ava1.webp" width="64" height="64" alt="" class="profile__ava">
                </div>
                <div class="profile__content">
                  <div class="profile__line">
                    <h3 class="profile__name">Сергей Петров</h3>
                    <span class="profile__age">38 лет</span>
                  </div>
                  <span class="profile__role">Инвестор</span>
                </div>
              </div>
            </div>
            <blockquote class="review__quote">
              Я хочу поделиться своим опытом работы с этой компанией по вопросам релокации. Благодаря их
              профессионализму
              и поддержке, я успешно зарегистрировал свой бизнес за границей и получил вид на жительство через
              инвестиции.
              Их услуги оказались незаменимыми для выхода на международный рынок.
            </blockquote>
          </div>
          <div class="review__card">
            <div class="review__header">
              <div class="profile">
                <div class="profile__picture">
                  <img src="./images/ava1.webp" width="64" height="64" alt="" class="profile__ava">
                </div>
                <div class="profile__content">
                  <div class="profile__line">
                    <h3 class="profile__name">Сергей Петров</h3>
                    <span class="profile__age">38 лет</span>
                  </div>
                  <span class="profile__role">Инвестор</span>
                </div>
              </div>
            </div>
            <blockquote class="review__quote">
              Я хочу поделиться своим опытом работы с этой компанией по вопросам релокации. Благодаря их
              профессионализму
              и поддержке, я успешно зарегистрировал свой бизнес за границей и получил вид на жительство через
              инвестиции.
              Их услуги оказались незаменимыми для выхода на международный рынок.
            </blockquote>
          </div>
        </div>
        <div class="consultation consultation--in">
          <div class="container consultation__inner">
            <div class="consultation__content">
              <h2 class="consultation__title">
                Хотите получить рекомендацию из первых уст?
              </h2>
              <p class="consultation__desc">
                Просто попросите менеджера на консультации дать контакты тех, кто уже переехал с нами!
              </p>
              <a href="#feedback" class="btn btn--image">
                Записаться на Консультацию
                <span class="btn__image ">
                  <img src="./images/teleg-blue.svg" alt="telega">
                </span>
              </a>
            </div>
            <div class="consultation__image">
              <img class="consultation__image-img" src="./images/review-2x.webp" alt="Консультация Movly" lazyload>
            </div>
          </div>
        </div>
      </div>

    </section>


    <section id="faq" class="section faq faq--es">
      <div class="container">
        <h2 class="section__subhead faq__title">
          Эти вопросы нам часто задают новые клиенты
        </h2>

        <div class="faq__list">
          <div class="faq__left">


            <div class="faq-item">
              <img src="./images/fq-img-height.webp" alt="" class="faq-item__img">
            </div>
          </div>
          <div class="faq__right">

            <div class="faq-item">
              <input type="radio" class="faq-item__input" name="faq-group" id="faq3" checked />
              <label class="faq-item__trigger" for="faq3">
                <span class="faq-item__question">
                  <span class="pic faq-item__f3"></span>
                  Что нам нужно оплатить кроме стоимости ваших услуг?
                </span>
                <span class="faq-item__arrow" aria-hidden="true"></span>
              </label>
              <div class="faq-item__content">
                <div class="faq-item__inner">
                  <p class="faq-item__answer">
                    Кроме стоимости наших услуг нужно будет оплатить пошлины и другие платежи, которые необходимы для
                    получения ВНЖ. Суммы разные, зависят от конкретной страны. В среднем — 500–2000&nbsp;€.
                  </p>

                </div>
              </div>
            </div>

            <div class="faq-item">
              <input type="radio" class="faq-item__input" name="faq-group" id="faq4" />
              <label class="faq-item__trigger" for="faq4">
                <span class="faq-item__question">
                  <span class="pic faq-item__f4"></span>
                  А что если мне все-таки откажут?
                </span>
                <span class="faq-item__arrow" aria-hidden="true"></span>
              </label>
              <div class="faq-item__content">
                <div class="faq-item__inner">
                  <p class="faq-item__answer">
                    Мы не беремся за кейсы, когда не уверены, что клиент получит ВНЖ. Если шансов мало — мы честно
                    скажем вам об этом в самом начале. А если мы возьмемся за ваш кейс, значит вы точно получите ВНЖ.
                    Или мы вернем вам деньги.
                  </p>
                </div>
              </div>
            </div>

            <div class="faq-item">
              <input type="radio" class="faq-item__input" name="faq-group" id="faq5" />
              <label class="faq-item__trigger" for="faq5">
                <span class="faq-item__question">
                  <span class="pic faq-item__f5"></span>

                  Кажется, я не подхожу ни под одну программу
                </span>
                <span class="faq-item__arrow" aria-hidden="true"></span>
              </label>
              <div class="faq-item__content">
                <div class="faq-item__inner">
                  <p class="faq-item__answer">
                    Приходите на первую бесплатную консультацию. Вы расскажете про свою ситуацию и мы сделаем все
                    возможное, чтобы подобрать программу, по которой вы получите ВНЖ.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    @@include("./template/form-section.html")
  </main>

  @@include("./template/footer.html") @@include("./template/scripts.html")
</body>

</html>