<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>Starter</title>
  @@include("./template/head.html")
</head>

<body>
  @@include("./template/header.html")

  <main>

    <section class="hero">
      <div class="container hero__inner">
        <div class="hero__content">
          <h1 class="hero__title">
            Получите ВНЖ
            <br>
            в США в срок
            <br>
            от 6 месяцев
          </h1>

          <p class="hero__desc">
            Благодаря индивидуальному подходу к каждому кейсу более 95% наших клиентов успешно получили ВНЖ в США!
          </p>

          <a href="#feedback" class="btn btn--image btn--large">
            Записаться на Консультацию
            <div class="btn__image ">
              <img src="./images/teleg-blue.svg" alt="telega">
            </div>
          </a>

        </div>

        <div class="hero__features">
          <div class="hero__left">
            <div class="hero__feature--image">
              <img src="./images/hero1-us.webp" alt="">
            </div>
            <div class="hero__feature">
              <span class="hero__feature-icon hero__feature-icon--shop"></span>
              <span class="hero__feature-text">
                <b>Делаем всё под ключ:</b> готовим документы, публикации в СМИ, ведем запись на собеседования и всю
                переписку
                с госорганами за вас.
              </span>
            </div>
          </div>

          <div class="hero__right">
            <div class="hero__feature">
              <span class="hero__feature-icon hero__feature-icon--check"></span>

              <span class="hero__feature-text">
                <b>Беремся даже за сложные случаи:</b> сделаем так, что ваш профиль подойдет под одну из программ!
              </span>
            </div>
            <div class="hero__feature--image">
              <img src="./images/hero2-us.webp" alt="">
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="consultation" class="consultation consultation--reverse">
      <div class="container consultation__inner">
        <div class="consultation__content">
          <h2 class="consultation__title">
            Запишитесь на бесплатную консультацию
          </h2>
          <p class="consultation__desc">
            Mы поможем оценить ваши шансы получения ВНЖ в странах ЕС!
          </p>
          <a href="#feedback" class="btn btn--image">
            Проконсультироваться
            <span class="btn__image ">
              <img src="./images/teleg-blue.svg" alt="telega">
            </span>
          </a>
        </div>
        <div class="consultation__image">
          <img class="consultation__image-img" src="./images/consultation-image.webp" alt="Консультация Movly" lazyload>
        </div>
      </div>
    </section>

    <section class="section about about--es" id="about">
      <div class="container about__container">
        <div class="about__grid">

          <div class="about__card about__card--intro">
            <h2 class="about__title">
              Больше 300 человек получили ВНЖ с MOLVY за последние 2 года
            </h2>
            <p class="about__text">
              Мы сопровождаем клиентов на пути к получению ВНЖ в любых странах Европы. Наша сила — в экспертизе,
              прозрачности и персональном подходе. С нами вы не просто оформите документы, а откроете новую главу
              в жизни.
            </p>
          </div>

          <div class="about__card about__card--stat">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f1.svg" alt="" width="40" height="40">
            </div>
            <p class="about__stat">
              <b>Команда из более чем 40 специалистов</b> во Франции, Нидерландах, Италии и не только. Работаем со всеми
              странами Евросоюза и Великобритании.
            </p>
          </div>

          <div class="about__card about__card--experts">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f2.svg" alt="" width="40" height="40">
            </div>
            <p class="about__text">
              <b>Закрываем под ключ всё:</b> от подачи документов до написания бизнес-планов для ВНЖ предпринимателя.
            </p>
          </div>

          <div class="about__card about__card--team">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f3.svg" alt="" width="40" height="40">
            </div>
            <p class="about__text">
              Помогаем стартапам в нашем <b>бизнес-акселераторе в Нидерландах.</b>
            </p>
          </div>

          <div class="about__card about__card--relations">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f4.svg" alt="" width="40" height="40">
            </div>
            <p class="about__text">
              <b>Знаем, на что смотрят сотрудники европейских госорганов</b> при одобрении ВНЖ и какие требования
              предъявляют
              к заявителям.
            </p>
          </div>

          <div class="about__card">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f5.svg" alt="" width="40" height="40">
            </div>
            <p class="about__text">
              <b>Мы даем 100% гарантию, что вам одобрят ВНЖ,</b> ведь наши клиенты стабильно получают одобрения
              с очень
              высокой вероятностью.
            </p>
          </div>

          <div class="about__card about__card--bg">
            <div class="about__icon-wrapper">
              <img class="about__icon" src="./images/f6.svg" alt="" width="40" height="40">
            </div>
            <p class="about__text">
              Если мы взялись за ваш кейс — <b>у вас будет ВНЖ.</b> Или мы вернем вам деньги.
            </p>
          </div>

        </div>
      </div>
    </section>

    <section class="benefits">
      <div class="container benefits__container">
        <h2 class="section__subhead benefits__title">
          что вы получите после переезда в США
        </h2>

        <div class="benefits__grid">
          <article class="benefit-card">
            <div class="benefit-card__image">
              <img src="./images/benf1-us.webp" alt="Жизнь в Штатах" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Жизнь в Штатах
            </h3>
            <p class="benefit-card__desc">
              Жизнь в самой крупной экономике с гарантией безопасности.
            </p>
          </article>

          <article class="benefit-card benefit-card--reverse">
            <div class="benefit-card__image">
              <img src="./images/benf2-us.webp" alt="Работа в США" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Работа в США
            </h3>
            <p class="benefit-card__desc">
              Работодатели охотнее берут на работу людей с ВНЖ.
            </p>
          </article>

          <article class="benefit-card">
            <div class="benefit-card__image">
              <img src="./images/benf3-us.webp" alt="Налоговая безопасность" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Налоговая безопасность
            </h3>
            <p class="benefit-card__desc">
              Понятная система налогообложения
              и минимальный контроль.
            </p>
          </article>

          <article class="benefit-card">
            <div class="benefit-card__image">
              <img src="./images/benf4-us.webp" alt="Путешествия" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Путешествия
            </h3>
            <p class="benefit-card__desc">
              С паспортом США у вас будет свободный
              въезд в 180+ стран.
            </p>
          </article>

          <article class="benefit-card benefit-card--reverse">
            <div class="benefit-card__image">
              <img src="./images/benf5-us.webp" alt="Бизнес по всему миру" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Бизнес по всему миру
            </h3>
            <p class="benefit-card__desc">
              Вы сможете вести бизнес без санкций и работать с любыми странами.
            </p>
          </article>

          <article class="benefit-card">
            <div class="benefit-card__image">
              <img src="./images/benf6-us.webp" alt="Банковский счет" loading="lazy" />
            </div>
            <h3 class="benefit-card__title">
              Банковский счет
            </h3>
            <p class="benefit-card__desc">
              В любом американском банке и доступ к фондовому рынку.
            </p>
          </article>
        </div>
      </div>
    </section>

    <section id="clients" class="clients clients--es">
      <div class="container">
        <h2 class="clients__title">
          В каком статусе проще всего получить ВНЖ
        </h2>

        <div class="clients__grid">
          <article class="client-card">
            <h3 class="client-card__title">Профессионал</h3>
            <div class="client-card__image-inner">
              <img class="client-card__image" src="./images/st1-us.webp" alt="Профессионал" width="250" height="264">
            </div>
            <p class="client-card__desc">
              IT специалисты, врачи и другие эксперты, деятельность которых имеет высокую ценность в США.

            </p>
          </article>

          <article class="client-card">
            <h3 class="client-card__title">Талант</h3>
            <div class="client-card__image-inner">
              <img class="client-card__image" src="./images/st2-us.webp" alt="Талант" width="250" height="264">
            </div>
            <p class="client-card__desc">
              Вы можете работать по любой специальности, вести бизнес в США законно и управлять своим налоговым
              статусом.

            </p>
          </article>

          <article class="client-card">
            <h3 class="client-card__title">Инвестор</h3>
            <div class="client-card__image-inner">
              <img class="client-card__image" src="./images/st3-us.webp" alt="Инвестор" width="250" height="264">

            </div>
            <p class="client-card__desc">
              Самый простой способ получить ВНЖ — от 800 000$ для граждан РФ и РБ, от 100 000$ для граждан других стран.

            </p>
          </article>

          <article class="client-card">
            <h3 class="client-card__title">Бизнес</h3>
            <div class="client-card__image-inner">
              <img class="client-card__image" src="./images/st4-us.webp" alt="Бизнес" width="250" height="264">

            </div>
            <p class="client-card__desc">
              Если вы планируете перевезти действующий бизнес в США или инвестировать в открытие компании в Штатах.
            </p>
          </article>

          <article class="client-inner">
            <a href="/" class="client-link">Узнать подробнее о возможностях</a>
          </article>
        </div>
      </div>
    </section>

    <section id="consultation" class="consultation consultation--reverse consultation--es">
      <div class="container consultation__inner">
        <div class="consultation__content">
          <h2 class="consultation__title">
            А можно не подходить ни под одну программу И ПОЛУЧИТЬ внж!
          </h2>
          <p class="consultation__desc">
            При бюджете от 20 000 $ можно не подходить ни под одну программу — мы просто сделаем так, что вы получите
            ВНЖ!
          </p>
          <a href="#feedback" class="btn btn--image">
            Записаться на Консультацию
            <span class="btn__image ">
              <img src="./images/teleg-blue.svg" alt="telega">
            </span>
          </a>
        </div>
        <div class="consultation__image">
          <img class="consultation__image-img" src="./images/const-es.webp" alt="Консультация Movly" lazyload>
        </div>
      </div>
    </section>

    <section id="steps" class="section steps steps--es">
      <div class="container">
        <h2 class="section__subhead steps__title">
          Этапы получения ВНЖ и порядок оплаты
        </h2>

        <small class="steps__small">
          При сотрудничестве с MOLVY большую часть стоимости услуг вы оплачиваете,
          когда уже на 100% уверены в получении ВНЖ. Весь процесс в среднем занимает 6 до 24 месяцев.
        </small>

        <div class="steps__grid">
          <article class="step-card">
            <span class="step-card__number">Шаг 01</span>
            <div class="step-card__inner">
              <h3 class="step-card__title">
                <img src="./images/step1.svg" width="32" height="32" alt="" class="step-card__image">
                Выбор программы
              </h3>
              <p class="step-card__desc">
                В ходе первого созвона или в переписке вы расскажете о себе и о цели переезда. Мы оценим возможность
                получения ВНЖ и предложим программы, по которым шансы одобрения для вас будут максимальными. Вы сразу
                узнаете точную стоимость наших услуг, пошлин и бюджет на PR-активность, если она потребуется.
              </p>
            </div>
          </article>

          <article class="step-card">
            <span class="step-card__number">Шаг 02</span>
            <div class="step-card__inner">
              <h3 class="step-card__title">
                <img src="./images/dg.svg" width="32" height="32" alt="" class="step-card__image">
                Заключение договора
              </h3>
              <p class="step-card__desc">
                Заключаем официальный договор, в котором прописываем точную стоимость, список услуг и все гарантии.
                Можем работать с юридическими и физическими лицами. После заключения договора происходит оплата
                аванса — 40-50% от стоимости.
              </p>
            </div>
          </article>

          <article class="step-card">
            <span class="step-card__number">Шаг 03</span>
            <div class="step-card__inner">
              <h3 class="step-card__title">
                <img src="./images/step3.svg" width="32" height="32" alt="" class="step-card__image">
                Подготовка документов
              </h3>
              <p class="step-card__desc">
                Мы занимаемся подготовкой всех документов и сопроводительных писем. Паралельно запускаем PR активности
                по условиям конкретной программы. Во всех случаях, где это возможно, ведем переписку с госорганами от
                вашего имени. Или подробно консультируем вас, как ответить.
              </p>
            </div>
          </article>

          <article class="step-card">
            <span class="step-card__number">Шаг 04</span>
            <div class="step-card__inner">
              <h3 class="step-card__title">
                <img src="./images/sobes.svg" width="32" height="32" alt="" class="step-card__image">
                Собеседование
              </h3>
              <p class="step-card__desc">
                Мы подбираем локацию с минимальными сроками ожидания собеседования и удобной логистикой. Например,
                Казахстан, Сербия, ОАЭ, Индонезия. Подробно консультируем вас, что и как отвечать, помогаем преодолеть
                страх перед интервью.
              </p>
            </div>
          </article>

          <article class="step-card step-card--color">
            <span class="step-card__number">Шаг 05</span>
            <div class="step-card__inner">
              <h3 class="step-card__title">
                <img src="./images/step5.svg" width="32" height="32" alt="" class="step-card__image">
                Вы получаете ВНЖ
              </h3>
              <p class="step-card__desc">
                Мы готовим для вас финальный пакет документов, самостоятельно записываем вас во все госорганы и
                объясняем алгоритм действий на месте. Вы получаете ВНЖ и вносите последний платеж за наши услуги.
              </p>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section id="reserch" class="consultation consultation--es consultation--reverse">
      <div class="container consultation__inner">
        <div class="consultation__content">
          <h2 class="consultation__title">
            Поможем начать и пройдем этот пусть вместе с вами!
          </h2>
          <p class="consultation__desc">
            Мы полностью погружаемся в ваш кейс и постоянно мониторим изменения в законах США. Используем самые свежие
            указы органов власти, которые могут нам помочь.
          </p>
          <a href="#feedback" class="btn btn--image">
            Записаться на Консультацию
            <span class="btn__image ">
              <img src="./images/teleg-blue.svg" alt="telega">
            </span>
          </a>
        </div>
        <div class="consultation__image">
          <img class="consultation__image-img" src="./images/const.webp" alt="Консультация Movly" lazyload>
        </div>
      </div>
    </section>

    <section id="about-socials" class="section about about--talk">
      <div class="container about__container">
        <div class="about__grid">

          <div class="about__card about__card--intro">
            <h2 class="about__title">
              Мы много снимаем и рассказываем о получении ВНЖ в США
            </h2>
            <p class="about__text">
              Нашей экспертизе <b>доверяют тысячи подписчиков</b> на разных площадках!
            </p>
          </div>

          <div class="about__card about__card--picture">
            <img src="./images/talk1.webp" alt="Блог в социальных сетях" class="about__picture">
          </div>

          <div class="about__card about__card--picture">
            <img src="./images/talk2.webp" alt="Блог в социальных сетях" class="about__picture">
          </div>
          <div class="about__card about__card--picture">
            <img src="./images/talk3.webp" alt="Блог в социальных сетях" class="about__picture">
          </div>

        </div>
      </div>
    </section>


    <section id="review" class="review">
      <div class="container">
        <h2 class="section__subhead steps__title">
          Эти отзывы оставили клиенты, которые уже получили ВНЖ с нами
        </h2>

        <div class="review__grid">
          <div class="review__card">
            <div class="review__header">
              <div class="profile">
                <div class="profile__picture">
                  <img src="./images/ava1.webp" width="64" height="64" alt="" class="profile__ava">
                </div>
                <div class="profile__content">
                  <div class="profile__line">
                    <h3 class="profile__name">Сергей Петров</h3>
                    <span class="profile__age">38 лет</span>
                  </div>
                  <span class="profile__role">Инвестор</span>
                </div>
              </div>
            </div>
            <blockquote class="review__quote">
              Я хочу поделиться своим опытом работы с этой компанией по вопросам релокации. Благодаря их
              профессионализму
              и поддержке, я успешно зарегистрировал свой бизнес за границей и получил вид на жительство через
              инвестиции.
              Их услуги оказались незаменимыми для выхода на международный рынок.
            </blockquote>
          </div>
          <div class="review__card">
            <div class="review__header">
              <div class="profile">
                <div class="profile__picture">
                  <img src="./images/ava1.webp" width="64" height="64" alt="" class="profile__ava">
                </div>
                <div class="profile__content">
                  <div class="profile__line">
                    <h3 class="profile__name">Сергей Петров</h3>
                    <span class="profile__age">38 лет</span>
                  </div>
                  <span class="profile__role">Инвестор</span>
                </div>
              </div>
            </div>
            <blockquote class="review__quote">
              Я хочу поделиться своим опытом работы с этой компанией по вопросам релокации. Благодаря их
              профессионализму
              и поддержке, я успешно зарегистрировал свой бизнес за границей и получил вид на жительство через
              инвестиции.
              Их услуги оказались незаменимыми для выхода на международный рынок.
            </blockquote>
          </div>
          <div class="review__card">
            <div class="review__header">
              <div class="profile">
                <div class="profile__picture">
                  <img src="./images/ava1.webp" width="64" height="64" alt="" class="profile__ava">
                </div>
                <div class="profile__content">
                  <div class="profile__line">
                    <h3 class="profile__name">Сергей Петров</h3>
                    <span class="profile__age">38 лет</span>
                  </div>
                  <span class="profile__role">Инвестор</span>
                </div>
              </div>
            </div>
            <blockquote class="review__quote">
              Я хочу поделиться своим опытом работы с этой компанией по вопросам релокации. Благодаря их
              профессионализму
              и поддержке, я успешно зарегистрировал свой бизнес за границей и получил вид на жительство через
              инвестиции.
              Их услуги оказались незаменимыми для выхода на международный рынок.
            </blockquote>
          </div>
          <div class="review__card">
            <div class="review__header">
              <div class="profile">
                <div class="profile__picture">
                  <img src="./images/ava1.webp" width="64" height="64" alt="" class="profile__ava">
                </div>
                <div class="profile__content">
                  <div class="profile__line">
                    <h3 class="profile__name">Сергей Петров</h3>
                    <span class="profile__age">38 лет</span>
                  </div>
                  <span class="profile__role">Инвестор</span>
                </div>
              </div>
            </div>
            <blockquote class="review__quote">
              Я хочу поделиться своим опытом работы с этой компанией по вопросам релокации. Благодаря их
              профессионализму
              и поддержке, я успешно зарегистрировал свой бизнес за границей и получил вид на жительство через
              инвестиции.
              Их услуги оказались незаменимыми для выхода на международный рынок.
            </blockquote>
          </div>
        </div>
        <div class="consultation consultation--in">
          <div class="container consultation__inner">
            <div class="consultation__content">
              <h2 class="consultation__title">
                Хотите получить рекомендацию из первых уст?
              </h2>
              <p class="consultation__desc">
                Просто попросите менеджера на консультации дать контакты тех, кто уже переехал с нами!
              </p>
              <a href="#feedback" class="btn btn--image">
                Записаться на Консультацию
                <span class="btn__image ">
                  <img src="./images/teleg-blue.svg" alt="telega">
                </span>
              </a>
            </div>
            <div class="consultation__image">
              <img class="consultation__image-img" src="./images/review-2x.webp" alt="Консультация Movly" lazyload>
            </div>
          </div>
        </div>
      </div>

    </section>


    <section id="faq" class="section faq faq--us">
      <div class="container">
        <h2 class="section__subhead faq__title">
          Эти вопросы нам часто задают новые клиенты
        </h2>

        <div class="faq__list">
          <div class="faq__left">
            <div class="faq-item">
              <input type="radio" class="faq-item__input" name="faq-group" id="faq1" />
              <label class="faq-item__trigger" for="faq1">
                <span class="faq-item__question">
                  <span class="pic faq-item__f1"></span>
                  Что делать, если у меня нет визовой истории?</span>
                <span class="faq-item__arrow" aria-hidden="true"></span>
              </label>
              <div class="faq-item__content">
                <div class="faq-item__inner">
                  <p class="faq-item__answer">
                    Это не проблема. Мы подберем стратегию и подготовим кейс с учётом вашей ситуации.
                  </p>
                </div>
              </div>
            </div>

            <div class="faq-item">
              <input type="radio" class="faq-item__input" name="faq-group" id="faq2" />
              <label class="faq-item__trigger" for="faq2">
                <span class="faq-item__question">
                  <span class="pic faq-item__f2"></span>
                  Есть ли вероятность отказа?</span>
                <span class="faq-item__arrow" aria-hidden="true"></span>
              </label>
              <div class="faq-item__content">
                <div class="faq-item__inner">
                  <p class="faq-item__answer">
                    По нашей статистике, более 95% клиентов успешно получают ВНЖ в США и 99% в страны Европы.
                    Мы не подаем слабые кейсы и тщательно готовим каждого клиента.
                  </p>
                </div>
              </div>
            </div>

            <div class="faq-item">
              <img src="./images/fq-img-2x.webp" alt="" class="faq-item__img">
            </div>
          </div>
          <div class="faq__right">

            <div class="faq-item">
              <input type="radio" class="faq-item__input" name="faq-group" id="faq3" checked />
              <label class="faq-item__trigger" for="faq3">
                <span class="faq-item__question">
                  <span class="pic faq-item__f3"></span>

                  Сколько стоят ваши услуги и какой порядок оплаты?
                </span>
                <span class="faq-item__arrow" aria-hidden="true"></span>
              </label>
              <div class="faq-item__content">
                <div class="faq-item__inner">
                  <p class="faq-item__answer">
                    Кроме стоимости наших услуг нужно будет оплатить пошлины и другие платежи, которые необходимы для
                    получения ВНЖ. При необходимости — PR активности, подготовку и разработку других документов,
                    например, бизнес-плана.

                  </p>
                </div>
              </div>
            </div>

            <div class="faq-item">
              <input type="radio" class="faq-item__input" name="faq-group" id="faq4" />
              <label class="faq-item__trigger" for="faq4">
                <span class="faq-item__question">
                  <span class="pic faq-item__f4"></span>
                  Семья переедет со мной?</span>
                <span class="faq-item__arrow" aria-hidden="true"></span>
              </label>
              <div class="faq-item__content">
                <div class="faq-item__inner">
                  <p class="faq-item__answer">
                    Да, супруг(а) и дети до 21 года переедут с вами.
                  </p>
                </div>
              </div>
            </div>

            <div class="faq-item">
              <input type="radio" class="faq-item__input" name="faq-group" id="faq5" />
              <label class="faq-item__trigger" for="faq5">
                <span class="faq-item__question">
                  <span class="pic faq-item__f5"></span>
                  Кажется, я не подхожу ни под одну программу</span>
                <span class="faq-item__arrow" aria-hidden="true"></span>
              </label>
              <div class="faq-item__content">
                <div class="faq-item__inner">
                  <p class="faq-item__answer">
                    Запишитесь на первую бесплатную консультацию. Вы расскажете про свою ситуацию, и мы сделаем все
                    возможное, чтобы вы получили ВНЖ в той стране, куда хотите переехать!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    @@include("./template/form-section.html")
  </main>

  @@include("./template/footer.html") @@include("./template/scripts.html")
</body>

</html>